body {
  font-family: "Roboto";
  outline: none;
}

.title {
  margin: 0 auto 15px auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  height: 80rem;
  width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
  height: 50%;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.grid-container div {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 0.5px;
}

.dead {
  border: 0.2px solid black;
  background: white;
}

.alive {
  border: 0.2px solid black;
  background: black;
}

.display-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-container div {
  display: inline-block;
  margin: 25px;
}

span {
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

#generation {
  color: red;
}

#alive {
  color: blue;
}

#colors {
  color: red;
}

.btn-container {
  width: 70%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  display: inline-block;
  margin: 5px 5px;
  width: 14.5%;
  white-space: nowrap;
  height: 30px;
  font-weight: bold;
  background: white;
  box-shadow: 1px 2px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.about-container {
  margin-top: 25px;
}

li {
  margin: 10px;
  font-size: 1.25rem;
  text-align: justify;
}

.footer {
  font-size: smaller;
}

/* tablet view  */
@media all and (max-width: 1100px) {
  .container {
    height: 95rem;
    width: 50rem;
  }
  .display-container {
    width: 85%;
    margin: 0 auto;
  }
  .title {
    /* text-align: left; */
    margin: 10px;
    /* font-size: 2rem; */
    white-space: nowrap;
  }
  .grid-container {
    height: 500px;
    width: 625px;
  }
}
/* mobile view  */
@media all and (max-width: 755px) {
  .container {
    height: 90%;
    width: 100%;
  }
  .div-container {
    width: 100;
  }
  .title {
    margin: 10px;
    font-size: 2rem;
    white-space: nowrap;
  }
  .grid-container {
    height: 350px;
    width: 375px;
  }
  button {
    display: inline-block;
    margin: 5px 5px;
    width: 37.5%;
    white-space: nowrap;
    height: 30px;
    font-weight: bold;
  }
  li {
    font-size: 1rem;
  }
}
